.col-md-4.col-md-offset-0
  .center-block
    h2 Log In
    = simple_form_for(:session, url: login_path, html: { class: 'form-horizontal' }) do |f|
      .panel-body
        = f.input :name, required: true, label: false, placeholder: 'User Name', input_html: { class: 'form-control' }
        = f.input :password, required: true, label: false, placeholder: 'Password', input_html: { class: 'form-control' }
      = f.button :submit, 'Log In', class: 'btn btn-primary'
