.col-md-4.col-md-offset-0
  .center-block
    h2 Sign Up
    = simple_form_for(@user, url: signup_path, html: { class: 'form-horizontal' }) do |f|
      .panel-body
        = f.error_notification
        = f.input :name, required: true, label: false, placeholder: 'User Name', input_html: { class: 'form-control' }
        = f.input :password, required: true, label: false, placeholder: 'Password', input_html: { class: 'form-control' }
        = f.input :password_confirmation, required: true, label: false, placeholder: 'Confirm Password', input_html: { class: 'form-control' }
      = f.button :submit, class: 'btn btn-primary'
