/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-nav > li > a, .navbar-brand {
  padding-top:10px !important;
  padding-bottom:0px !important; height: 30px;
}

.input-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.navbar {
  min-height:40px !important;
  .container-fluid {
    .navbar-header {
      a {
        color: #fff;
      }
      a:hover {
        color: #ff9;
      }
    }
    .nav li {
      a {
        color: #fff;
      }
      a:hover {
        color: #ff9;
      }
      .navbar-alert {
        padding: 9px;
      }
      .signed-in-as {
        padding: 9px 9px 0px 9px;
        color: #fff;
      }
    }
  }
}
