nav.navbar.navbar-default.navbar-inverse
  .container-fluid
    .navbar-header
      = link_to "Flappy Bird Clone", root_path, class: "navbar-brand"
    ul.nav.navbar-nav.navbar-right
      - if current_user.nil?
        li
          = link_to "Sign Up", signup_path
      - else
        li
          .signed-in-as
            | Signed in as 
            strong #{current_user.name}
        li
          = link_to "Log Out", logout_path, remote: true
    - if current_user.nil?
      = simple_form_for(:session, url: login_path, html: { class: 'navbar-form navbar-right' }, remote: true) do |f|
        .form-group
          = f.input :name, required: true, label: false, placeholder: 'User Name', input_html: { class: 'form-control input-xs' }
          = f.input :password, required: true, label: false, placeholder: 'Password', input_html: { class: 'form-control input-xs' }
          = f.button :submit, 'Log In', class: 'btn-primary input-xs'
    ul.nav.navbar-nav.navbar-right.nav-alert
      - flash.each do |name, msg|
        li
          .navbar-alert class="#{alert_for(name)}"
            = msg
