doctype html
html
  head
    title NeuroEvolve
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body
    #navbar
      = render 'layouts/navbar'
    == yield
